---
import NavbarDark from '../components/navbar/navbar-dark.astro';
import Layout from '../layouts/Layout.astro';
import about1 from '../assets/images/ab1.jpg'
import about2 from '../assets/images/about2.jpg'
import about3 from '../assets/images/ab3.jpg'
import about4 from '../assets/images/ab4.jpg'
import about5 from '../assets/images/ab5.jpg'
import about6 from '../assets/images/ab6.jpg'
import about7 from '../assets/images/ab7.jpg'
import About from '../components/about.astro';
import Services from '../components/services.astro';
import ProcessTab from '../components/process-tab.astro';
import Cta from '../components/cta.astro';
import Client from '../components/client.astro';
import Price from '../components/price.astro';
import Blog from '../components/blog.astro';
import Contact from '../components/contact.astro';
import Footer from '../components/footer.astro';
import Partner from '../components/partner.astro';
---

<Layout>
	<NavbarDark/>
	
    <section class="relative md:pt-44 py-36 bg-slate-50 dark:bg-slate-800" id="home">
        <div class="container relative">
            <div class="grid grid-cols-1 justify-center text-center">
                <div class="">
                    <h1 class="font-bold lg:leading-normal leading-normal tracking-wide text-4xl lg:text-5xl capitalize mb-5">Grow Sales with Our <br> Strategy First Approach</h1>
                    <p class="text-slate-400 text-lg max-w-xl mx-auto">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
                
                    <div class="subcribe-form mt-6 mb-3">
                        <form class="relative max-w-xl mx-auto">
                            <input type="email" id="emailid" name="email" class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-slate-900 dark:text-white rounded-full bg-white/60 dark:bg-slate-900/60 shadow-sm dark:shadow-gray-800" placeholder="yourname@domain.com">
                            <button type="submit" class="px-6 tracking-wide inline-flex items-center justify-center font-medium absolute top-[2px] end-[3px] h-[46px] bg-teal-500 text-white rounded-full">Subscribe Now</button>
                        </form>
                    </div>

                    <span class="font-medium">Looking for help? <a href="" class="text-teal-500">Get in touch with us</a></span>
                </div>

                <div class="grid lg:grid-cols-12 md:grid-cols-3 grid-cols-1 lg:gap-4 gap-2 mx-auto mt-8 items-center">
                    <div class="lg:col-span-4">
                        <div class="grid grid-cols-2 gap-4 items-center">
                            <div class="">
                                <div class="grid grid-cols-1 gap-4">
                                    <img src={about1.src} class="shadow-sm rounded-lg" alt="">
                                </div>
                            </div>

                            <div class="">
                                <div class="grid grid-cols-1 gap-4">
                                    <img src={about3.src} class="shadow-sm rounded-lg" alt="">
                                    <img src={about4.src} class="shadow-sm rounded-lg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-4">
                        <img src={about7.src} class="shadow-sm rounded-lg" alt="">
                    </div>

                    <div class="lg:col-span-4">
                        <div class="grid grid-cols-2 gap-4 items-center">
                            <div class="">
                                <div class="grid grid-cols-1 gap-4">
                                    <img src={about6.src} class="shadow-sm rounded-lg" alt="">
                                    <img src={about5.src} class="shadow-sm rounded-lg" alt="">
                                </div>
                            </div>

                            <div class="">
                                <div class="grid grid-cols-1 gap-4">
                                    <img src={about2.src} class="shadow-sm rounded-lg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Partner/>

	<section class="relative md:py-24 py-16">
		<About/>
	</section>

	<section class="relative md:py-24 py-16 bg-slate-50 dark:bg-slate-800" id="services">
		<Services/>
	</section>

	<section class="realtive md:py-24 py-16">
		<ProcessTab/>
	</section>

	<Cta/>

	<section class="relative md:py-24 py-16" id="review">
		<Client/>
	</section>

	<section class="relative md:py-24 py-16 bg-slate-50 dark:bg-slate-800" id="pricing">
		<Price/>
	</section>

	<section class="relative md:py-24 py-16" id="blog">
		<Blog/>
	</section>

	<section class="relative lg:py-24 py-16 bg-slate-50 dark:bg-slate-800" id="contact">
		<Contact/>
	</section>

	<Footer/>

</Layout>


